{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topics</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
            <h1>CH419 PPT SUBMISSION</h1>
            <h4>Select a Topic from below OR add a new one for your PPT Presentation.</h4>
            <p><strong>Note*:</strong><br>After adding a new topic, register your name under that topic.<br>
                Each topic will allow only 3 students to register in that.<br>
                once you have register your name under the topic you will have an option to upload your PPT.<br>
                Also, check that the topic is not selected.
            </p>
        
        <a class="btn btn-success btn-lg" href="{% url 'add_topic' %}">ADD TOPIC</a>
        <br>
        <br>

        <input id="search_here" class="form-control mb-3" placeholder="type here to search...">

        <ol>
        <div id="box">
            {% for topic in topics %}
            <li><a  href="/{{topic.id}}"><strong>{{topic.topic_name}}</strong></a></li>
            <br>
            {% endfor %}
        </div>
        </ol>
    
    </div>


    <script>
        const data = '{{ topics_json }}'
        const rdata = JSON.parse(data.replace(/&quot;/g,'"'))
        const input = document.getElementById('search_here')

        input.addEventListener('keyup',(event)=>{

            let array = []
            box.innerHTML = ""
            console.log(event)
            for(var i=0;i<rdata.length;i++){
                var obj = rdata[i];
                
                if(obj['topic_name'].includes(event.target.value.toLowerCase())){
                    array.push(obj);
                }
            }
            console.log(array.length);
            if(array.length > 0){
                for(var i=0;i<array.length;i++){
                    box.innerHTML += `<li><a  href="/${array[i]['id']}"><strong>${array[i]['topic_name']}</strong></a></li><br>`;
                }
            }
            else
            {
                box.innerHTML = `<li><strong>No Results Found!</strong></li><br>`;
            }
        })

    </script>
</body>
</html>